---
import MainLayout from "@/layouts/MainLayout.astro";
import Card from "@/components/Card.astro";
---

<MainLayout
  title="Frontend Mentor | Four Card Feature"
  description="A four card feature challenge from Frontend Mentor."
>
  <main class="min-h-screen py-16">
    <div>
      <div class="mx-auto w-[320px] lg:w-[500px]">
        <h1
          class="text-theme-very-dark-blue text-center text-[24px] font-extralight lg:pb-4 lg:text-4xl"
        >
          Reliable, efficient delivery
        </h1>
        <h2
          class="text-theme-very-dark-blue mb-4 text-center text-[24px] font-semibold lg:mb-6 lg:text-4xl"
        >
          Powered by Technology
        </h2>
        <p class="text-theme-grayish-blue mb-18 text-center">
          Our Artificial Intelligence powered tools use millions of project data
          points to ensure that your project is successful
        </p>
      </div>

      <div
        class="mx-auto grid w-[320px] grid-cols-1 gap-6 lg:w-[1120px] lg:grid-cols-3"
      >
        <div class="lg:flex lg:h-full lg:items-center lg:justify-center">
          <Card
            title="Supervisor"
            content="Monitors activity to identify project roadblocks"
            image="/src/assets/icon-supervisor.svg"
            classes="border-t-theme-cyan"
          />
        </div>
        <div class="grid gap-6 lg:flex lg:flex-col lg:gap-6">
          <Card
            title="Team Builder"
            content="Scans our talent network to create the optimal team for your project"
            image="/src/assets/icon-team-builder.svg"
            classes="border-t-theme-red"
          />
          <Card
            title="Karma"
            content="Regularly evaluates our talent to ensure quality"
            image="/src/assets/icon-karma.svg"
            classes="border-t-theme-orange"
          />
        </div>
        <div class="lg:flex lg:h-full lg:items-center lg:justify-center">
          <Card
            title="Calculator"
            content="Uses data from past projects to provide better delivery estimates"
            image="/src/assets/icon-calculator.svg"
            classes="border-t-theme-blue"
          />
        </div>
      </div>
    </div>
  </main>
</MainLayout>
