---
import MainLayout from "@/layouts/MainLayout.astro";
import Card from "@/components/Card.astro";
---

<MainLayout
  title="Frontend Mentor | Four Card Feature"
  description="A four card feature challenge from Frontend Mentor."
>
  <main class="min-h-screen py-16">
    <div>
      <div class="mx-auto w-[320px] md:w-125">
        <h1
          class="text-center text-[24px] font-extralight text-theme-very-dark-blue md:pb-4 md:text-4xl"
        >
          Reliable, efficient delivery
        </h1>
        <h2
          class="mb-4 text-center text-[24px] font-semibold text-theme-very-dark-blue md:mb-6 md:text-4xl"
        >
          Powered by Technology
        </h2>
        <p class="mb-18 text-center text-theme-grayish-blue">
          Our Artificial Intelligence powered tools use millions of project data points to ensure
          that your project is successful
        </p>
      </div>

      <div
        class="mx-auto grid w-[320px] grid-cols-1 gap-6 md:w-187.5 md:grid-cols-2 xl:w-280 xl:grid-cols-3"
      >
        <div class="xl:flex xl:h-full xl:items-center xl:justify-center">
          <Card
            title="Supervisor"
            content="Monitors activity to identify project roadblocks"
            image="/src/assets/icon-supervisor.svg"
            classes="border-t-theme-cyan"
          />
        </div>
        <div class="hidden md:flex md:h-full md:items-center md:justify-center xl:hidden">
          <Card
            title="Team Builder"
            content="Scans our talent network to create the optimal team for your project"
            image="/src/assets/icon-team-builder.svg"
            classes="border-t-theme-red"
          />
        </div>
        <div class="hidden md:flex md:h-full md:items-center md:justify-center xl:hidden">
          <Card
            title="Karma"
            content="Regularly evaluates our talent to ensure quality"
            image="/src/assets/icon-karma.svg"
            classes="border-t-theme-orange"
          />
        </div>
        <div class="grid gap-6 md:hidden xl:flex xl:flex-col xl:gap-6">
          <Card
            title="Team Builder"
            content="Scans our talent network to create the optimal team for your project"
            image="/src/assets/icon-team-builder.svg"
            classes="border-t-theme-red"
          />
          <Card
            title="Karma"
            content="Regularly evaluates our talent to ensure quality"
            image="/src/assets/icon-karma.svg"
            classes="border-t-theme-orange"
          />
        </div>
        <div class="grid xl:flex xl:h-full xl:items-center xl:justify-center">
          <Card
            title="Calculator"
            content="Uses data from past projects to provide better delivery estimates"
            image="/src/assets/icon-calculator.svg"
            classes="border-t-theme-blue"
          />
        </div>
      </div>
    </div>
  </main>
</MainLayout>
